<app-header></app-header>

<!-- <div class=" imgcss">
    <h3 class="text-primary text-right imgcss"> Welcome User : <span class="text-warning"> {{ session.userName}}</span></h3>
    <div class="col-lg-6 " style="float: left;">
        <img src="https://img.freepik.com/premium-vector/travel-plan-plane-logo-design-template_549702-122.jpg?w=360">

    </div>
    <div class="col-lg-6 imgcss" style="float:right ;" >
        <h3> <b><i> Confirm Booking Package</i></b></h3><br>
        <div [hidden]="submitted">
            <form (ngSubmit)="onSubmit()">

                <div class="row">

                    <div class="col-md-12 form-group">
                        <label for="checkIn">Chek In </label>
                        <input type="date" class="form-control" id="checkIn" required name="checkIn" [(ngModel)]="_checkIn">
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-12 form-group">
                        <label for="checkOut">Chek Out </label>
                        <input type="date" class="form-control" id="checkOut" required name="checkOut" [(ngModel)]="_checkOut">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 form-group">
                      <label for="numberOfPeople">Number Of People</label>
                      <input type="number" class="form-control" id="numberOfPeople" required name="numberOfPeople" [(ngModel)]="_numberOfPeople">
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="numberOfPeople">Number Of Rooms</label>
                        <input type="number" class="form-control" id="numberOfRooms" required name="numberOfRooms" [(ngModel)]="_numberOfRooms">
                      </div>
                    </div><br>
                <button type="submit" class="btn btn-success">Make Payment</button>
                <br>
            </form>
            <br><br>
        </div>

        <br>

        <div [hidden]="!submitted">
            <h4>You submitted successfully!</h4>

        </div>
    </div> -->

<div class="imgcss row">
  <div class="col-lg-6">
    <br>
    <img style="padding-left:50px;" src="https://img.freepik.com/premium-vector/travel-plan-plane-logo-design-template_549702-122.jpg?w=360">
  </div>
  <div class="col-lg-6">
    <br>
    <h2> <b><i> Confirm Booking Package</i></b></h2><br>
        <div [hidden]="submitted">
          <form (ngSubmit)="onSubmit()">

            <div class="row">

                <div class="col-md-8 form-group">
                    <label for="checkIn">Chek In </label>
                    <input type="date" class="form-control" id="checkIn" required name="checkIn" [(ngModel)]="_checkIn">
                </div>
            </div>
            <div class="row">

                <div class="col-md-8 form-group">
                    <label for="checkOut">Chek Out </label>
                    <input type="date" class="form-control" id="checkOut" required name="checkOut" [(ngModel)]="_checkOut">
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                  <label for="numberOfPeople">Number Of People</label>
                  <input type="number" class="form-control" id="numberOfPeople" required name="numberOfPeople" [(ngModel)]="_numberOfPeople">
                </div>
                <div class="col-md-4 form-group">
                    <label for="numberOfPeople">Number Of Rooms</label>
                    <input type="number" class="form-control" id="numberOfRooms" required name="numberOfRooms" [(ngModel)]="_numberOfRooms">
                  </div>
                </div><br>
            <button type="submit" class="btn btn-success">Make Payment</button>
            <br>
        </form>
  </div>
</div>

    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Payment Invoice</h5><br>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p class="text-primary">Total Ammount <span>&#8377;</span> : <span class="text-danger">{{totalAmmount}}</span></p>
          <p class="text-primary"> Discount Ammount(5%) <span>&#8377;</span> : <span class="text-danger">{{discountAmmount}}</span></p>
          <p class="text-primary"> Ammount To Pay <span>&#8377;</span> : <span class="text-danger">{{payAmmount}}</span></p>
          <hr>
          <mat-tab-group>
            <mat-tab label="Credit Card"> 
              <form>
                <div class="form-group">
                  <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Card Number">
                </div><br>
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Account Holder Name">
                </div><br>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="month" class="form-control" id="exampleInputPassword1" placeholder="Expiration Date">    
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="CVV">    
                    </div>
                  </div><br>
                </div>
              </form>
          </mat-tab>
            <mat-tab label="Debit Card"> 
              <form>
                <div class="form-group">
                  <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Card Number">
                </div><br>
                <div class="form-group">
                  <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Account Holder Name">
                </div><br>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <input type="month" class="form-control" id="exampleInputPassword1" placeholder="Expiration Date">    
                    </div>
                    <div class="col-sm-6">
                      <input type="text" class="form-control" id="exampleInputPassword1" placeholder="CVV">    
                    </div>
                  </div>
                </div><br>
              </form>
            </mat-tab>
            <mat-tab label="Cash">
              <mat-card>
                <mat-card-content>Pay While checked In</mat-card-content>
              </mat-card>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="modal-footer">

          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
          <button type="button" class="btn btn-primary" (click)="payNow('Payment Successfill !','ok')">Pay Now</button>
        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>