<h2 style="text-align: center;" class="text-success" mat-dialog-title> Details Of Organization</h2>
<mat-dialog-content>
    <hr>
    <mat-card>
        <mat-card-content>
            <p>Organization Id : <span class="text-primary">{{receivedOrg.organizationId}}</span></p>
            <p>Organization Name : <span class="text-primary">{{receivedOrg.organizationName}}</span></p>
        </mat-card-content>
    </mat-card>
    <hr>
</mat-dialog-content>
<mat-card-actions>
    <button mat-button mat-dialog-close class="btn btn-primary">close</button>
</mat-card-actions>