<h2 class="text-success" style="text-align:center ;">Update Booking</h2>
<!-- <form (ngSubmit)="onSubmit('Updating Successfull!' ,'ok')">

    <div class="row">

        <div class="col-md-8 form-group">
            <label for="checkIn">Chek In </label>
            <input type="date" class="form-control" id="checkIn" required name="checkIn" [(ngModel)]="booking.checkIn">
        </div>
    </div><br>
    <div class="row">

        <div class="col-md-8 form-group">
            <label for="checkOut">Chek Out </label>
            <input type="date" class="form-control" id="checkOut" required name="checkOut" [(ngModel)]="booking.checkOut">
        </div>
    </div><br>

    <div class="row">
        <div class="col-md-4 form-group">
          <label for="numberOfPeople">Number Of People</label>
          <input type="number" class="form-control" id="numberOfPeople" required name="numberOfPeople" [(ngModel)]="booking.numberOfPeople">
        </div>
        <div class="col-md-4 form-group">
            <label for="numberOfPeople">Number Of Rooms</label>
            <input type="number" class="form-control" id="numberOfRooms" required name="numberOfRooms" [(ngModel)]="booking.numberOfRooms">
          </div>
        </div><br>
    <button type="submit" class="btn btn-success"><i>update</i></button>
    <br>
</form> -->
<mat-dialog-content>
    <mat-card>
        <mat-card-content>
            <form>
                <div class="row">
            
                    <div class="col-md-8 form-group">
                        <label for="checkIn">Chek In </label>
                        <input type="date" class="form-control" id="checkIn" required name="checkIn" [(ngModel)]="booking.checkIn">
                    </div>
                </div><br>
                <div class="row">
            
                    <div class="col-md-8 form-group">
                        <label for="checkOut">Chek Out </label>
                        <input type="date" class="form-control" id="checkOut" required name="checkOut" [(ngModel)]="booking.checkOut">
                    </div>
                </div><br>
            
                <div class="row">
                    <div class="col-md-4 form-group">
                      <label for="numberOfPeople">Number Of People</label>
                      <input type="number" class="form-control" id="numberOfPeople" required name="numberOfPeople" [(ngModel)]="booking.numberOfPeople">
                    </div>
                    <div class="col-md-4 form-group">
                        <label for="numberOfPeople">Number Of Rooms</label>
                        <input type="number" class="form-control" id="numberOfRooms" required name="numberOfRooms" [(ngModel)]="booking.numberOfRooms">
                      </div>
                    </div><br>
                </form>
        </mat-card-content>
    </mat-card>
</mat-dialog-content>
<mat-dialog-actions>
        <button type="submit" class="btn btn-success" mat-dialog-close (click)="onSubmit('Updating Successfull!' ,'ok')"><i>update</i></button>
        <br>
    </mat-dialog-actions>

