<h2 style="text-align: center;" class="text-success" mat-dialog-title> Details Of Packages </h2>
<mat-dialog-content>
    <hr>
    <mat-card>
        <mat-card-content>
            <p> Package Id : <span class="text-primary">{{packs.packId}}</span></p>
            <p> Package Name : <span class="text-primary">{{packs.packName}}</span></p>
            <p> Package City : <span class="text-primary">{{packs.packCity}}</span></p>
            <p> Package Price : <span class="text-primary">{{packs.packPrice}}</span></p>
            <p> Package Rating : <span class="text-primary">{{packs.packRating}}</span></p>

        </mat-card-content>
    </mat-card>
    <hr>
</mat-dialog-content>
<mat-card-actions>
    <button mat-button mat-dialog-close class="btn btn-dark"><i>ok</i></button>
</mat-card-actions>