  /* .logo {
    text-align: center;
    padding: 2.6rem 1rem;
  }
  .mat-divider {
    border-top-width: 2px;
    border-color: white;
  }
  .mat-list-item {
    color: #94a3b8 !important;
    font-size: 0.8rem;
    height: 44px !important;
    margin-bottom: 4px;
  }

  .mat-subheader {
    color: #818cf8;
    font-size: 0.6rem;
    font-weight: 100;
    letter-spacing: 1px;
  }
  .box{
    background-color: blueviolet;
    color: yellow;
    text-shadow: 1px 1px;
    font-weight: bold;
    font-size: 16px;
  }
  .hole{
    background-color: #818cf8;
    color: teal;
    height:100%;
  } */