<app-header></app-header>

<!-- <section style="
background-image: url('https://images.pexels.com/photos/145685/pexels-photo-145685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');">
<h2 class="text-center" *ngIf="packs.length!=0">Details of All Packages Are!</h2><hr>
<h2 class="text-center text-danger" *ngIf="packs.length==0">Oops, Sorry No Packages Found</h2><hr>
<div class="container" style="background-color: aqua;">
        <form #packForm="ngForm" >
        <div *ngFor=" let pac of packs">
            <h4> {{ pac.packId}}</h4>
            <h4> {{ pac.packName }}</h4>
            <h4> {{ pac.packCity }}</h4>
            <h4> {{ pac.packPrice }}</h4>
            <h4> {{ pac.packRating }}</h4>
            <button type="submit" class="btn btn-primary" (click)="onPackDetails( pac.packId)"> Book Now </button>
            <br> -->
            <!-- <div class="row">
              <div class="col-sm-3 mb-3" *ngFor="let pac of packs">
                <div class="card text-center">
                  <div class="card-header">
                    <h3> Hotel Name : <span class="text-primary"> {{ pac.packName}}</span> </h3>
                  </div>
                  <div class="card-body">
                    <h4 class="card-title">Package Id : <span class="text-primary"> {{ pac.packId}}</span> </h4>
                    <h4 class="card-text">Package City : <span class="text-primary"> {{ pac.packCity}}</span></h4>
                    <h3> Package Price : <span class="text-primary" >{{ pac.packPrice}}</span></h3>
                    <button type="submit" class="btn btn-primary" (click)="onPackDetails( pac.packId)"> Book Now </button>
                  </div>
                  <div class="card-footer text-muted"> Package Rating : 
                    <span class="text-primary"> {{ pac.packRating}} </span>
                  </div>
              </div>

              </div>
            </div> -->
            <!-- <div class="card text-center mb-10" *ngFor="let pac of packs">
                <div class="card-header">
                  <h3> Hotel Name : <span class="text-primary"> {{ pac.packName}}</span> </h3>
                </div>
                <div class="card-body">
                  <h4 class="card-title">Package Id : <span class="text-primary"> {{ pac.packId}}</span> </h4>
                  <h4 class="card-text">Package City : <span class="text-primary"> {{ pac.packCity}}</span></h4>
                  <h3> Package Price : <span class="text-primary" >{{ pac.packPrice}}</span></h3>
                  <button type="submit" class="btn btn-primary" (click)="onPackDetails( pac.packId)"> Book Now </button>
                </div>
                <div class="card-footer text-muted"> Package Rating : 
                  <span class="text-primary"> {{ pac.packRating}} </span>
                </div>
            </div> -->
            <!-- <br>
        </form>
</div>
</section> -->


<section style="
background-image: url('https://images.pexels.com/photos/753626/pexels-photo-753626.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
">
<div class="container">
    <div class="text-center text-info" style="padding-top: 10px;">
        <h2 *ngIf="packs.length!=0"><b><i>List Of Packages </i></b> </h2>
        <h2 *ngIf="packs.length==0">Oops, Sorry! Packages Not Found</h2>
    </div>
</div>
<div class="container">
    <div class="content">
        <div fxLayout="row wrap mb-4" fxLayoutGap="16px grid">
            <div *ngFor="let pac of packs" fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" class="mb-4">
                <mat-card class="example-card">
                  <div mat-card-avatar ></div>
                  <mat-card-title>{{ pac.packName}}</mat-card-title>
                  <mat-card-subtitle>{{ pac.packId}}</mat-card-subtitle>
                    <mat-card-header>
                      <img mat-card-image src="https://yt3.ggpht.com/a/AATXAJwxN7xZtc05NPbXVe-RITvILOflkKkNNqPYYA=s900-c-k-c0xffffffff-no-rj-mo" alt="Photo of a Shiba Inu">
                    </mat-card-header>
                    <mat-card-content>
                        <p>Package City : <span class="text-primary">{{ pac.packCity }}</span></p>
                        <p>Package Price : <span class="text-primary">{{ pac.packPrice}}</span> &nbsp;<span> <span>&#8377;</span>/head</span></p>
                        <p>Package Rating : <span class="text-primary">{{ pac.packRating }}</span></p>
                    </mat-card-content>
                    <mat-card-actions>
                        <button class="btn btn-primary btn-right" type="submit" mat-button (click)="onPackDetails(pac.packId)">Book Now</button>
                    </mat-card-actions>
                    <mat-card-footer>
                    </mat-card-footer>
                </mat-card>
            </div>
        </div>
    </div>
</div>
</section>

<app-footer></app-footer>